*{
    margin: 0px;
    overflow-x: hidden;
}

nav{
    position: fixed;
    top: 70px;
    left: 30px;
    z-index: 10;
}

nav a{
    font-family: Karla;
    font-size: 20px;
    line-height: 30px;
    text-decoration: none;
    color: #242424;
    padding: 2px 5px;
    border-radius: 20px;
}

#home{
    background-color: deeppink;
    color: white;
}

.backgroundimage{
    display: none;
    justify-content: center;
    flex-direction: row;
    z-index: 20;
}
.backgroundimage img{
    width: 50vw;
}

#home:hover + .backgroundimage{
    display: flex;
}

.active {
  background-color: deeppink;
  color: white;
  border-radius: 0px;
}

nav a:hover {
  background-color: coral;
  color: white;
}

main{
}

.topimage{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 70vh;
    overflow: hidden;
    z-index: -1;
}

.topimage img{
    
}

.spacer{
    width: 100vw;
    height: 60vh;
}

.project{
   
}

.monobox{
    position: absolute;
    top: 80vh;
    right: 5vw;
}

.monobox h3{
    font-family: Space Mono;
    font-size: 12px;
    font-weight: 300;
    line-height: 21px;
    color: #242424;
}

.textbox{
    width: 45vw;
    margin: auto auto 100px auto;
}

.textbox h1{
    font-family: Karla;
    font-size: 40px;
    color: white;
    margin: auto;
    text-align: center;
}

.textbox h2{
    font-family: Karla;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
    color: black;
}

.imagebox{
    width: 45vw;
    margin: auto;
    overflow: hidden;
}

.imagebox img{
    width: 100%;
}