
.background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: pink;
    border: 5px dashed salmon;
}

.gallery{
    position: absolute;
    width: calc((100vw - 340px));
    right: 0;
    padding: 0 82px 0 80px;
}

@media all and (max-width: 1000px) {
    .gallery{
        width: 100vw;
        padding: 0;
    }
}

.imagebox{
    position: relative;
    width: 45vw;
    margin: 10vh auto 10vh auto;
    overflow: hidden;
}

@media all and (max-width: 1000px) {
    .imagebox{
        width: 100%;
    }

    .imagebox h1{
        margin: 0 0 0 22px;
    }
}

.imagebox img{
    width: 100%;
}

.imagebox canvas {
    width: 100%;
}

.imagebox h1 {
    font-family: Karla;
    font-size: 25px;
    font-weight: 300;
}